@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=IBM+Plex+Mono&family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap');

[data-theme="material/dark"] {
  /* fonts */
  --font-body: 'Roboto', sans-serif;
  --font-head: 'Montserrat', sans-serif;
  --font-quote: 'Dancing Script', cursive;
  --font-code: 'IBM Plex Mono', monospace;
  /* sizes */
  --size-text: 16px;
  --size-radius: 3px;
  --size-radius-2nd: 3px;
  --size-border: 1px;
  --size-border-2nd: 1px;
  --size-space: 1rem;
  --size-space-2nd: 1rem;
  /* size steps */
  --size-xs: 4px;
  --size-sm: 8px;
  --size-md: 16px;
  --size-lg: 20px;
  --size-xl: 24px;
  --size-xxl: 28px;
  /* wides */
  --wide-xs: 320px;
  --wide-sm: 425px;
  --wide-md: 768px;
  --wide-lg: 1024px;
  --wide-xl: 1440px;
  --wide-xxl: 2560px;
  /* colors */
  --color-primary: #3880ff;
  --color-primary-rgb: 56,128,255;
  --color-primary-contrast: #ffffff;
  --color-primary-contrast-rgb: 255,255,255;
  --color-primary-shade: #3171e0;
  --color-primary-tint: #4c8dff;
  --color-secondary: #3dc2ff;
  --color-secondary-rgb: 61,194,255;
  --color-secondary-contrast: #ffffff;
  --color-secondary-contrast-rgb: 255,255,255;
  --color-secondary-shade: #36abe0;
  --color-secondary-tint: #50c8ff;
  --color-tertiary: #5260ff;
  --color-tertiary-rgb: 82,96,255;
  --color-tertiary-contrast: #ffffff;
  --color-tertiary-contrast-rgb: 255,255,255;
  --color-tertiary-shade: #4854e0;
  --color-tertiary-tint: #6370ff;
  --color-success: #2dd36f;
  --color-success-rgb: 45,211,111;
  --color-success-contrast: #ffffff;
  --color-success-contrast-rgb: 255,255,255;
  --color-success-shade: #28ba62;
  --color-success-tint: #42d77d;
  --color-warning: #ffc409;
  --color-warning-rgb: 255,196,9;
  --color-warning-contrast: #000000;
  --color-warning-contrast-rgb: 0,0,0;
  --color-warning-shade: #e0ac08;
  --color-warning-tint: #ffca22;
  --color-danger: #eb445a;
  --color-danger-rgb: 235,68,90;
  --color-danger-contrast: #ffffff;
  --color-danger-contrast-rgb: 255,255,255;
  --color-danger-shade: #cf3c4f;
  --color-danger-tint: #ed576b;
  --color-dark: #222428;
  --color-dark-rgb: 34,36,40;
  --color-dark-contrast: #ffffff;
  --color-dark-contrast-rgb: 255,255,255;
  --color-dark-shade: #1e2023;
  --color-dark-tint: #383a3e;
  --color-medium: #92949c;
  --color-medium-rgb: 146,148,156;
  --color-medium-contrast: #ffffff;
  --color-medium-contrast-rgb: 255,255,255;
  --color-medium-shade: #808289;
  --color-medium-tint: #9d9fa6;
  --color-light: #f4f5f8;
  --color-light-rgb: 244,245,248;
  --color-light-contrast: #000000;
  --color-light-contrast-rgb: 0,0,0;
  --color-light-shade: #d7d8da;
  --color-light-tint: #ffffff;  
  --color-background: #222428;
  --color-background-rgb: 34,36,40;
  --color-background-contrast: #ffffff;
  --color-background-contrast-rgb: 255,255,255;
  --color-background-shade: #1e2023;
  --color-background-tint: #383a3e;
  --color-foreground: #f4f5f8;
  --color-foreground-rgb: 244,245,248;
  --color-foreground-contrast: #000000;
  --color-foreground-contrast-rgb: 0,0,0;
  --color-foreground-shade: #d7d8da;
  --color-foreground-tint: #ffffff;
  /* gradients */
  --gradient-primary: linear-gradient(180deg, #4c8dff 0%, #3171e0 100%);
  --gradient-secondary: linear-gradient(180deg, #50c8ff 0%, #36abe0 100%);
  --gradient-tertiary: linear-gradient(180deg, #6370ff 0%, #4854e0 100%);
  --gradient-success: linear-gradient(180deg, #42d77d 0%, #28ba62 100%);
  --gradient-warning: linear-gradient(180deg, #ffca22 0%, #e0ac08 100%);
  --gradient-danger: linear-gradient(180deg, #ed576b 0%, #cf3c4f 100%);
  --gradient-dark: linear-gradient(180deg, #383a3e 0%, #1e2023 100%);
  --gradient-medium: linear-gradient(180deg, #9d9fa6 0%, #808289 100%);
  --gradient-light: linear-gradient(180deg, #ffffff 0%, #d7d8da 100%);
  /* others */
  --box-shadow: 0 0 10px rgba(244,245,248,0.25);
  --box-shadow-2nd: 0 0 10px rgba(244,245,248,0.25);
}
